<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
    <meta property="og:title" content="{{ model.title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://img.bristermitten.me/blog.png">
    <meta property="og:url" content="{{ model.url }}">
    <meta property="og:description" content="This guide talks about {{ model.title }}">
    <title>{{ model.title }}</title>
</head>
<body onload="move()">
<script>
    function move() {
        window.location.replace("{{ model.redirect }}")
    }
</script>
</body>
</html>